/* Color Scheme */

:root {
  --brand-color: #E7A526;
  --white: #FFFAF5;
  --light-gray: #f0f0f0;
  --light-blue: #F0E9E0;
  --blue-gray: #66826d;
  --gray: #5d635f;
  --dark: #262626;
  --dark-blue: #262626;

  --background-color: var(--white);
  --background-alt-color: var(--light-blue);
  
  --text-color: #303030;
  --text-alt-color: var(--blue-gray);
  
  --heading-font-color: #101010;

  --link-color: var(--dark);
  --link-color-hover: #E7A526;

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #E7A526

  --border-color: var(--light-blue);
  --border-color-alt: var(--light-blue);

  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  --syntax-highlighting-background: #f3f3f3;
}

:root[dark] {
  --brand-color: #E7A526;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #262626;

  --background-color: var(--dark);
  --background-alt-color: #262626;
  
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  
  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: #E7A526;

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #E7A526;

  --border-color: #262626;
  --border-color-alt: #262626;

  --th-color: #262626;;
  --tr-color: #262626;

  --syntax-highlighting-background: #262626;
}