/* Portfolio */
.portfolio__view {
  padding-left: 20px;
  border-radius: 12px;
  background: #ffffff;
}

.view-list {
  .icon-bar {
    width: 24px;

    &:before,
    &:after {
      opacity: 0;
    }

    &:before {
      left: 0;
      transform: translateX(-15px);
    }
    
    &:after {
      right: 0;
      transform: translateX(15px);
    }
  }
}

.view-list {

  .portfolio__gallery {
    .col {
      width: 100%;
    }

    .portfolio__link {
      padding-top: 67%;
    }

    @media only screen and (max-width: $tablet) {
      .portfolio__link {
         padding-top: 87%;
      }
    }
  }
}

.portfolio__item {
  padding: 4px;
  margin-bottom: ($base-spacing-unit * 2);
  border-radius: 18px;
  background: #f4f4f4;
}

.portfolio__link {
  position: relative;
  transform: translate(0);
  display: block;
  padding-top: 87%;
  border-radius: 16px;
  background: #ffffff;
  transition: none;

  &:hover {

    &::after {
      opacity: 1;
      visibility: visible;
    }

    .portfolio__icon {
      transform: translate(-50%, -50%) scale(1,1);
      opacity: 1;
      visibility: visible;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.6);
    transition: all .35s ease;
  }
}

.portfolio__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.3,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.07);
  color: var(--heading-font-color);
  background: var(--border-color-alt);
  opacity: 0;
  visibility: hidden;
  transition: all .35s ease, transform .35s cubic-bezier(.175,.885,.32,1.275) 0s;
}

.portfolio__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
