*, *::after, *::before {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Triplicate';
  src: url('/fonts/triplicate_a_regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Heliotrope';
  src: url('/fonts/heliotrope_4_regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Heliotrope';
  src: url('/fonts/heliotrope_4_italic.woff2') format('woff2');
  font-style: italic;
}
@font-face {
  font-family: 'Heliotrope Cap';
  src: url('/fonts/heliotrope_3_caps_regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Heliotrope Cap Bold';
  src: url('/fonts/heliotrope_4_caps_regular.woff2') format('woff2');
}

body {
  font-family: 'Triplicate';
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    color: #303030
  }
}

*::selection {
  color: var(--white);
  background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heliotrope';
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  color: var(--heading-font-color);
}

h1 {
  font-size: $font-size-h1;
  text-transform: capitalize;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  font-family: 'Heliotrope';
  font-style: italic;
  position: relative;
  margin: 50px 0;
  padding-left: 35px;
  font-size: 20px;
  line-height: 1.5;
  color: #656565;

  p {
    margin-bottom: 10px;
  }

  cite {
    display: inline-block;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: var(--heading-font-color);

  }

  @media only screen and (max-width: $mobile) {
    font-size: 20px;
  }
}
blockquote::before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -40px;
  color: #E7A526
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--heading-font-color);
}

img,
.lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img,
.lightense-wrap,
.gallery {
  &+em {
    font-family: 'Heliotrope';
    display: block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    color: #262626;
  
    a {
      transition: $global-transition;

      &:hover {
        color: #262626;
      }
    }
  
    @media only screen and (max-width: $mobile) {
      margin-top: 12px;
    }
  }
}

a {
  font-family: 'Heliotrope Cap Bold';
  color: #262626;
  transition: $global-transition;
  text-decoration: none !important;
  }

  hr {
  width: 100%;
  height: 1px;
  margin: 60px 0;
  border: 0;
  background: #ebebeb;
}

.posts-body a{
  border-bottom: #0000005d 0.05em solid;
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: var(--dark);
  width: 100%;
  border-width: 1px;
  border-color: var(--background-alt-color);
  border-collapse: collapse;
  color: var(--heading-font-color);
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--th-color);
  color: var(--heading-font-color);
  font-weight: 700;
  background-color: var(--th-color);
}

table tr {
  background-color: var(--tr-color);
  transition: all .3s ease;
  &:nth-child(even) {
    background-color: transparent;
  }
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--background-alt-color);
}

.lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
  opacity: 1;
}

.lightense-backdrop {
  background-color: #FFFFFF !important;
}

li::marker{
  color:#E7A526
}

a:not(:has(img,div,h5)) {
  color: #262626;
  border-bottom: 1px solid (#2626262d);

  &:hover {
    text-decoration: none;
    color: var(--link-color);
    border-bottom: 1px solid (#E7A526);
  }
}
